body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
/*	background-image:url(images/Background.jpg);*/
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}
a:link {
	color: #990066;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #0000FF;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color: #0000FF;
}
.container {
	width: 960px;
/*	background-color: #FFF;*/
	margin: auto; /
}


.content {
/*	padding: 10px 0;*/
}

.container {
	display: flex;
    flex-direction: row;
    margin-left: 50px;
/*    border: red solid 1px;*/
}

.header>h1{
    text-align: center;
}

.map1{
    display: block;
    width: 550px;
/*    border: blue 1px solid;*/
    margin-left: 50px;
}

.map2{
    width: 600px;
/*    border: green 1px solid;*/
    margin-left: 50px;
}

/*
.left-div {
    float: left; 
    width: 1200px;
    height: 1000px; 
    margin-right: 600px;
}

.right-div {
    float: right;
    width: 1200px;
    height: 1000px; 
    margin-left: 8px;
}

.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
*/


center {background-color: aquamarine}
